html,
body {
  height: 100%;
}

body {
  min-width: 300px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $default;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.info-email {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  color: $title;
  margin-bottom: 22px;
  padding-left: 30px;
  position: relative;
  &::before {
    content: "";
    background-image: url(../img/envelope.svg);
    position: absolute;
    left: 0;
    top: 8px;
    width: 16px;
    height: 12px;
  }
}

.slick-prev,
.slick-next {
  color: #000000;
  font-size: 0;
  z-index: 1;
}
.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev::before {
  color: #000000;
}

.slick-next::before {
  color: #000000;
}

.ReactModal__Overlay--after-open {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content--after-open {
  width: 90%;
  height: 90%;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  iframe {
    width: 100%;
    height: 100%;
  }
}

body.ReactModal__Body--open {
  overflow: hidden;
}
