@media (max-width: 1367px) {
  .top {
    &__slider-title {
      font-size: 72px;
      line-height: 84px;
    }
    &__slider-img {
      height: 740px;
    }
    &__slider-item {
      margin-left: 70px;
    }
  }
  .collection {
    grid-template-columns: repeat(3, 1fr);
    &__img {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .top {
    &__inner {
      &::after {
        height: 100%;
      }
    }
    &__slider-title {
      font-size: 62px;
      line-height: 74px;
    }
    &__slider-img {
      height: 640px;
    }
    &__slider-item {
      margin-left: 100px;
    }
  }
  .contact {
    &__social,
    &__box,
    &__form {
      padding-left: 200px;
    }
  }
}

@media (max-width: 1040px) {
  .blog {
    &__inner {
      flex-wrap: wrap;
    }
    &__items {
      max-width: 100%;
    }
    &__item-img {
      width: 100%;
      max-width: 100%;
    }
    &__popup-img {
      width: 100%;
      max-width: 100%;
    }
    &__blockquote {
      padding: 34px 44px;
    }
  }
  .aside {
    width: 100%;
    margin-left: 0;
    order: -1;
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .footer {
    &__info {
      width: 380px;
    }
  }
  .main-gallery {
    &__items {
      grid-gap: 10px;
    }
    &__btn {
      margin: 5px;
      padding: 8px 20px;
    }
  }
  .about {
    &__text {
      padding-left: 0;
    }
    &__content {
      padding: 40px 0;
    }
  }
  .contact {
    &__social,
    &__box,
    &__form {
      padding-left: 180px;
    }
  }
}

@media (max-width: 840px) {
  .top {
    &__slider-title {
      font-size: 52px;
      line-height: 64px;
    }
    &__slider-img {
      height: 540px;
    }
  }
  .collection {
    grid-template-columns: repeat(2, 1fr);
    &__img {
      width: 100%;
    }
  }
  .works-path {
    &__item {
      width: 350px;
    }
    &__item--production {
      margin-left: 50px;
    }
  }
  .main-gallery {
    &__btn {
      margin: 5px;
      padding: 6px 10px;
    }
  }
  .contact {
    &__social,
    &__box,
    &__form {
      padding-left: 150px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__btn {
      display: none;
    }
  }
  .menu {
    &__list-item {
      padding-left: 0;
      & + .menu__list-item {
        padding-right: 0;
      }
    }
  }
  .logo {
    margin: 0;
  }
  .footer {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info {
      width: 100%;
      margin-bottom: 50px;
    }
    &__info-text {
      max-width: 100%;
    }
    &__menu {
      margin-left: auto;
      margin-right: auto;
    }
    &__social {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .decor {
    padding: 70px 0 55px;
  }
  .works-path {
    &__item--measurements {
      margin-left: 100px;
    }
  }
  .main-gallery {
    &__btn {
      display: grid;
      width: 90%;
      margin: 10px auto;
    }
  }
  .gallery-page {
    padding: 20px 0 30px;
  }
  .about {
    &__prev {
      padding: 120px 0;
    }
  }
  .inspiration {
    &__img {
      display: none;
    }
  }
  .partners {
    &__items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .map {
    iframe {
      height: 380px;
    }
  }
  .contact {
    &__social,
    &__box,
    &__form {
      padding-left: 100px;
    }
  }
  .contact-slider {
    display: none;
  }
}

@media (max-width: 650px) {
  .top {
    &__inner {
      padding-top: 30px;
      padding-bottom: 25px;
    }
    &__slider-text {
      margin-bottom: 15px;
    }
    &__slider-img {
      display: none !important;
    }
  }
  .works-path {
    &__items-box {
      border: none;
      display: block;
    }
    &__items-box::before,
    &__item--production::after,
    &__item--measurements::before {
      display: none;
    }
    &__item--measurements {
      margin-left: 0;
      padding-top: 0;
    }
    &__item--production {
      margin-left: 0;
    }
    &__items {
      display: block;
    }
    &__item {
      width: 100%;
    }
    &__item-title {
      margin-right: 50px;
    }
  }
  .main-blog {
    &__items {
      display: block;
    }
    &__img-link {
      display: block;
    }
    &__img {
      width: 100%;
    }
    &__item {
      margin-bottom: 20px;
    }
  }
  .main-blog {
    &__item-title {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .contact {
    &__social,
    &__box,
    &__form {
      padding-left: 0px;
    }
  }
}

@media (max-width: 540px) {
  %title-font {
    font-size: 28px;
    line-height: 36px;
  }
  .logo {
    order: -1;
    position: relative;
    z-index: 12;
  }
  .header {
    &__inner {
      flex-wrap: wrap;
      padding-top: 42px;
    }
    &__btn-menu {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      order: -1;
      position: relative;
      z-index: 12;
      span {
        background-color: #000000;
        width: 37px;
        height: 3px;
        border-radius: 4px;
        display: block;
        margin: 6px 0;
      }
    }
  }
  .main-gallery {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item:first-child {
      grid-column: 1;
      grid-row: 1;
    }
    &.gallery-page {
      .main-gallery__item:nth-child(8) {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }
  .menu {
    padding-right: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 11;
    position: relative;
    border: 1px solid #ffffff;
    text-align: center;
    transform: translateY(-350px);
    transition: all 0.5s;
    &__active {
      transform: translateY(30px);
    }
    &__list {
      display: block;
    }
    &__list-item {
      padding-right: 0;
    }
    &__list-link {
      display: block;
      padding: 15px 0;
      font-size: 16px;
      line-height: 27px;
    }
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
    &__img {
      width: 100%;
    }
  }
  .works-path {
    &__item-title {
      font-size: 16px;
      line-height: 27px;
    }
  }
  .main-blog {
    &__item-title {
      font-size: 16px;
      line-height: 27px;
    }
  }
  .about {
    &__prev {
      padding: 90px 0;
    }
    &__prev-title {
      font-size: 40px;
    }
  }
  .inspiration {
    &__item-text,
    &__num {
      font-size: 16px;
      line-height: 23px;
    }
    &__item-text {
      margin-right: 10px;
    }
  }
  .contact {
    &__form-input {
      width: 100%;
    }
  }
  .slick-dots {
    bottom: -30px;
  }
  .blog {
    &__form-input {
      width: 100%;
    }
  }
}

@media (max-width: 485px) {
  .slick-dots {
    bottom: -60px;
  }
}

@media (max-width: 375px) {
  .footer {
    &__inner {
      justify-content: space-between;
    }
    &__social {
      margin-left: 0;
    }
    &__form {
      display: block;
    }
    &__form-btn {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .works-path {
    &__item-title {
      margin-right: 0;
    }
  }
  .about {
    &__prev {
      padding: 80px 0;
    }
    &__prev-title {
      font-size: 30px;
    }
  }
}
